boto3==1.26.8
sqlalchemy==1.4.44
sqlalchemy-utils==0.38.3
pydantic==1.10.2
pydantic_sqlalchemy==0.0.9
alembic==1.8.1
flask
flask-restx
fastapi
uvicorn==0.20.0
cryptography==38.0.4
passlib
bcrypt==4.0.1
python-jose[cryptography]==3.3.0
humanize
python-multipart
blobbyappleconnect # --index https://pypi.apple.com/simple